# Ports
API_PORT=3001
BACKEND_PORT=8000
FRONTEND_PORT=3000

# RabbitMQ credentials
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Introspector API database credentials
INTROSPECTER_API_DB_USER=introspecter_user
INTROSPECTER_API_DB_PASSWORD=introspecter_pass
INTROSPECTER_API_DB_NAME=introspecter_db
DATABASE_URL="postgresql://backend_user:backend_password@introspecter-postgres-backend:5432/introspecter_backend"

# Introspector backend database credentials
INTROSPECTER_BACKEND_DB_USER=backend_user
INTROSPECTER_BACKEND_DB_PASSWORD=backend_password
INTROSPECTER_BACKEND_DB_NAME=introspecter_backend

# Project paths and URLs
BACKEND_URL=http://introspecter-backend:8000
HOST_PROJECT_PATH=~/Desktop/introspecter
WANDB_API_KEY=wandb_v1

# External API keys (replace with your own)
OPENROUTER_API_KEY=your_openrouter_api_key_here
